body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    background-color: #1c1a1c;
    color: #E4F9F5;
}

h1 {
    font-size: 5.625rem;
    width: 80%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', sans-serif;
    color:#d7ebeb;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #d7ebeb;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.75rem;
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}

p {
    line-height: 2;
}

a {
    color:#001b1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color:#f7f7f7;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto 100px auto;
}

/*container*/

.top-container {
    background-color: #0D7377;
    padding: 10px;
    position: relative;
    height: 100vh;
    flex: 1;
}

.middle-container{
    background-color: #1c1a1c;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    height: auto;
    flex: 1;
}

.bottom-container{
    background-color: #0D7377;
    padding: 50px 0 20px;
    position: relative;
    height: auto;
    flex: 1;
}

/*tag class*/

.profile {
    width: 60%;
    margin: 50px auto;
    text-align: left;
    color: #E4F9F5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(245, 245, 245, 0.779);
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.intro {
    width: 90%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
   color:#EAF6F6;
   font-size: 0.75rem;
   padding: 20px 0;
}

/*Image*/

.emoji-programmer {
    width: 50px;
    height: auto;
    margin: 10px;
    animation: float 3s ease-in-out infinite;
}

.main-image {
    width: 500px;
    height: auto;
    border: 2px solid #14FFEC;
    border-radius: 10px;
}

.profile-deco {
    width: 200px;
    height: auto;
    border-radius: 10px; 
}

.profile-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 2px solid ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    float: right;
}

.skill-image {
    width: 25%; 
    height: auto;
    float: left; 
    margin-right: 30px;
    border-radius: 10px; 
  }

/* btn */

.btn {
    background: #0D7377;
    background-image: -webkit-linear-gradient(top, #0D7377, #0c4210);
    background-image: -moz-linear-gradient(top, #0D7377, #0c4210);
    background-image: -ms-linear-gradient(top, #0D7377, #0c4210);
    background-image: -o-linear-gradient(top, #0D7377, #0c4210);
    background-image: linear-gradient(to bottom, #0D7377, #0c4210);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #129296;
    background-image: -webkit-linear-gradient(top, #129296, #1a8c22);
    background-image: -moz-linear-gradient(top, #129296, #1a8c22);
    background-image: -ms-linear-gradient(top, #129296, #1a8c22);
    background-image: -o-linear-gradient(top, #129296, #1a8c22);
    background-image: linear-gradient(to bottom, #129296, #1a8c22);
    text-decoration: none;
  }